<form class="pa-answer-form">
  <div class="form-group">
    <label for="complexity">Question Complexity</label>
    <input id="complexity" name="complexity" type="number" value="0" min="0"/>
  </div>
  <div class="form-group">
    <label for="clues">Number of Clues Used</label>
    <input id="clues" name="clues" type="number" value="0" min="0"/>
  </div>
  <div class="form-buttons">
    <button type="button" class="roll-answer">Roll</button>
  </div>
</form>